@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 20%, rgba(7,56,144,1) 61%, rgba(51,114,205,1) 87%, rgba(6,15,167,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
header{
    background-color: rgb(39, 23, 54);
    display: flex;
}
nav{
    height: 50px;
    display: flex;
    padding: 20px;
    width: 100%;
}
nav h1{
align-self: center;
width: 30%;
}
main section i{
    color: rgb(248, 150, 30);
}
nav ul{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    padding: 0 20px;

}
nav ul li   a{
    padding: 10px 5px;
    font-weight: 600;
   
   

}
i{
    padding-left: 5px;
}
nav ul li a:hover{
 color: rgb(197, 152, 239);

}
main section{
    width: 60%;
    margin: 0 auto;

}
figure{
margin: 0 auto;
width: 80%;
text-align: center;
margin-top: 20px;
}
main figure img{
    width: 80%;
   
    
    
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(182,89,244);
    background: linear-gradient(90deg, rgba(182,89,244,0) 0%, rgb(49, 18, 62) 47%, rgba(6,15,167,0) 100%);
}
p{
    padding: 10px 50px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
}
.contacto{
    width: 60%;
    margin: 0 auto; 
  
}
footer section form{
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
width: 70%;
}
input{
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 20px;
  
}
footer section h3{
    width: 100%;
    background-color: rgb(39, 23, 54);
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.mostrar{
display: none;
}

.mostrarmas{
display: block;

}
button{
margin-left: 50px;
    background-color: rgb(195, 140, 247);
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
button:hover{
    border: 2px white solid;
    padding: 8px 28px;
    color: black;
}
.boton{
    margin: 0;
    margin-top: 10px;
}

